.DS_Store
.idea/
.vscode/
__pycache__/
.env
.venv/
datasets/
runs/
weights/
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.mlpackage
*.torchscript
*.tflite
*.h5
*.mnn
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
*_ncnn_model/
*_executorch_model/
*_imx_model/
*_rknn_model/
*_hailo_model/
*_ascend_model/
*_axelera_model/
*_deepx_model/
*_qnn.onnx
pnnx*
